body {
	margin: 0;
  background: whitesmoke;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #eb5f34;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  padding-bottom: 10px;

  position: relative;
}

nav a {
  color: antiquewhite;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

#home_div{
  background-image: url(./images/Edem\(1\).jpg);
  padding: 300px 100px;
  margin: 0px;
  padding-top: 10%;
  background-size: cover;
  background-position: center;
}
#home_div ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#home_div li {
  display: inline-block;
  margin-left: 40px;
}
#home_div p{
  font-size: x-large;
  color: white;
}
#home_div ul li a {
  width:80px;
  height:80px;
  background: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
}

/* TODO: add hover effect for linkedin and github */

#involvement_div h1{
  text-align:center;
}
#involvement_div ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#involvement_div li {
  display: inline-block;
  margin-left: 100px;
  margin-right: 0px;
}
#involvement_div p{
  margin-left: 40px;
  margin-right: 40px;
}

